
@{
    ViewData["Title"] = "setting_agent_realease_licence";
    Layout = "~/Views/Shared/ownyit_main_page.cshtml";
}
@*<link href="~/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
     <script src="~/js/moment.min.js"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>*@
<script src="~/js/main.js"></script>
<script type="text/javascript">
    var now = new Date();
    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);
    var today = now.getFullYear() + "-" + (month) + "-" + (day);
</script>

<div class="row">

    <div class="ibox float-e-margins ">
        <div class="ibox-content" style="padding:4px;">
            <ul class="breadcrumb" style="margin-bottom:0px;">
                <li>
                    @Html.ActionLink("Settings", "setting_scan_ip_range", "csat_settings_page")
                    <i class="icon-angle-right"></i>
                </li>
                <li>Agent Release license</li>
            </ul>
        </div>
    </div>

    <!--side menu-->
    <div class="col-sm-2 col-md-2 col-lg-2 no_padding">
        <div class="ibox float-e-margins ">
            <div class="ibox-content sidemenu">
                @{
                    @Html.Partial("csat_settings_page_menu");
                }
            </div>
        </div>
    </div>
    <!--side menu end-->
    <div class="col-sm-10 col-md-10 col-lg-10">
        <!--BackSide Generate white form color-->
        <div class="ibox float-e-margins" style="margin-bottom: 10px;">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">

                        <div class="row">
                            <div class="col-xs-12">
                                <form class="form-horizontal" method="post">
                                    <div class="form-group">
                                        <label for="nameField" style="margin-top: -5px;background-color: #fff;text-align: center;color: #3D93C8;width: 120px;" class="col-xs-2 form_label">&nbsp;&nbsp;Advance Search&nbsp;&nbsp;</label>
                                        <div class="col-xs-10">
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <!--BackSide Generate white form over-->
                <div class="row">
                    <div class="col-xs-12">
                        <form class="form-horizontal" method="post" id="frm_setting_agt_rel_lic" name="frm_setting_agt_rel_lic">
                            <div class="form-group">
                                <label for="nameField" class="col-xs-1 form_label">Type</label>
                                <div class="col-xs-3 col-md-2 col-lg-2" style="padding-top:2px;">
                                    <div class="radio">
                                        <label> <input type="radio" name="agentremove" value="0" checked="checked" id="agentuninstall"> Agent Uninstall </label>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-md-2 col-lg-2" style="padding-top:2px;">
                                    <div class="radio">
                                        <label> <input type="radio" name="agentremove" value="1" id="agentrelease"> Release license </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nameField" class="col-xs-1 form_label">Branch/ Unit</label>
                                <div class="col-xs-3">
                                    <select class="form-control col-sm-3 col-lg-3 col-md-3" name='Branch/Unit' id='DrpOU1'>
                                        <option value='-1'>Select Branch/ Unit</option>
                                    </select>
                                </div>
                                <label for="nameField" class="col-xs-1 form_label">System Name</label>
                                <div class="col-xs-2" id="selectsys">
                                    <select class="form-control col-sm-3 col-lg-3 col-md-3" name=" AllDevices" id="drpDevice1">
                                        <option value="-1">Select System Name</option>
                                    </select>
                                </div>
                                <div class="col-xs-2" id="inputsystemname">
                                    <input type="text" class="form-control col-sm-3 col-lg-3 col-md-3" name="add_systemname" id="add_systemname">
                                </div>
                                <div class="col-xs-1">
                                    <input type="checkbox" class="form-check-input" id="add_system_chk" name="add_system_chk" style="width:20px;height:25px;">
                                </div>
                                <label for="nameField" class="col-xs-1 form_label">IP Address</label>
                                <div class="col-xs-2">
                                    <input type="text" class="form-control col-sm-3 col-lg-3 col-md-3" placeholder="" name="drpip1" id="drpip1">
                                    @*<select class="form-control col-sm-3 col-lg-3 col-md-3" name="ip adrss" id="drpip1">
                <option value="-1">Select IP Address</option>
            </select>*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nameField" class="col-xs-1 form_label">Date Range</label>
                                <div class="col-xs-4" style="display: inline-flex;">
                                    <input type="checkbox" name="isckeckdate" id="isckeckdate" style="margin-right:10px">
                                    <input type="text" name="datefilter" class="form-control" placeholder="DD/MM/YYYY -  DD/MM/YYYY " id="date" disabled>
                                </div>
                                <div class="pull-left col-xs-1">
                                    <input type="button" class="btn btn-primary" value="Show" onclick="devicedatabind()" id="btnshowagentrelease">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--agent uninstall Datatable start-->
            </div>
        </div>
        <div class="row ibox2">
            <div class="col-sm-12 col-md-12 col-lg-12 ibox2-content" id="divagentrelease_div">
                <table id="divagentrelease" class="table table-striped table-bordered " width="100%"></table>
            </div>


        </div>
    </div>
    <div class="space_bottom">&nbsp;</div>
</div>
<script>
    $(document).ready(function () {
        validateSingleForm("#frm_setting_agt_rel_lic");
    });
</script>

<script>
    $("#isckeckdate").click(function () {
        if ($(this).is(":checked")) {
            document.getElementById("date").disabled = false;
        } else {
            document.getElementById("date").disabled = true;
        }
    });
</script>
<script>
    var startdate = "";
    var enddate = "";
    $('input[name="datefilter"]').val('');

    $(function () {
        $('input[name="datefilter"]').daterangepicker({
            autoUpdateInput: true,
            startDate: moment().startOf('hour').add(-24, 'hour'),
            endDate: moment().startOf('hour'),
            timePicker: true,
            locale: {
                cancelLabel: 'Clear',
                format: 'DD/MM/YYYY hh:mm A'
            }
        });

        $('input[name="datefilter"]').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY hh:mm A') + ' - ' + picker.endDate.format('DD/MM/YYYY hh:mm A'));
            startdate = picker.startDate.format('DD/MM/YYYY hh:mm A');
            enddate = picker.endDate.format('DD/MM/YYYY hh:mm A');
        });

        $('input[name="datefilter"]').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });

        $(window).bind('scroll', function () {
            $(".daterangepicker").hide();
        });

    });

	 $.get('@Url.Content("~/csat_report/GetOU/")', null, DataBind)
    function DataBind(data) {
        $("#overlay").show();
        $("#overlay").fadeIn(300);
        //debugger;
        var url = '@Url.Content("~/csat_report/GetOU/")';
        $.ajax({
            type: "POST",
            url: url,
            success: function (data) {
                var SetData = $('#DrpOU1');
                jQuery('#DrpOU1').html('');

                var oudata = "<option value='-1'>Select Branch/ Unit</option>";
                for (var i = 0; i < data.ou.length; i++) {
                    oudata += "<option value='" + data.ou[i].ouid + "'>" + data.ou[i].ouname + "</option>";
                }
                SetData.append(oudata);
            }
        }).done(function () {
            setTimeout(function () {
                $("#overlay").fadeOut(300);
            }, 500);
        });
    }
    $("#DrpOU1").change(function () {
        ouidvalue = this.value;
        var url = '@Url.Content("~/csat_report/Get_syatemname_ip?ouid=")' + this.value;
        $.ajax({
        type: "POST",
        url: url,
        success: function (data) {
         //debugger;
        var SetDatadevice = $('#drpDevice1');
        //var SetDataip = $('#drpip1');
        jQuery('#drpDevice1').html('');
        //jQuery('#drpip1').html('');

        var devicedata = "<option value='-1'>Select System Name</option>";
        //var ipdata = "<option value='-1'>Select IP Address</option>";

        for (var i = 0; i < data.systemip.length; i++) {
           devicedata+="<option value='"+ data.systemip[i].device_name +"'>"+ data.systemip[i].device_name +"</option>";
           //ipdata+="<option value='"+ data.systemip[i].ip +"'>"+ data.systemip[i].ip +"</option>";
            }
            SetDatadevice.append(devicedata);
            //SetDataip.append(ipdata);
        }
        });

    });

	var ouidvalue="";
    var systemvalue="";
    var ipvalue = "";
    $("#drpDevice1").change(function () {
        systemvalue = this.value;

    });
    //$("#drpip1").change(function () {
    //    ipvalue = this.value;

    //});
  function devicedatabind()
  {
      var $valid = $('#frm_setting_agt_rel_lic').valid();
      if (!$valid) {
          $validatorform.focusInvalid();
          return false;
      }
      else {

          $("#overlay").show();
          $("#overlay").fadeIn(300);
          if ($('#isckeckdate').is(":checked")) {
              startdate = $('#date').data('daterangepicker').startDate.format('DD/MM/YYYY hh:mm A');
              enddate = $('#date').data('daterangepicker').endDate.format('DD/MM/YYYY hh:mm A');
          } else {
              startdate = "";
              enddate = "";
          }
          var ipvalue = document.getElementById('drpip1').value;
          //var systemvalue = document.getElementById('drpDevice1').value;
          var systemvalue = document.getElementById('add_systemname').value;
          if (systemvalue == "") {
              systemvalue = document.getElementById("drpDevice1").value;
          }

          $.ajax({
              type: "POST",
              url: '@Url.Content("~/csat_settings_page/GetAgentReleaseLicence?IP=")' + ipvalue + '&Device=' + systemvalue + '&ouid=' + ouidvalue + '&startdate=' + startdate + '&enddate=' + enddate,
              success: function (data) {
                  var agent_divclear = document.getElementById('divagentrelease_div');
                  agent_divclear.innerHTML = '&nbsp;';
                  $('#divagentrelease_div').append("<table id='divagentrelease' class='table table-striped table-bordered' width='100%'></table><div class='col-xs-11 pull-left'><input type='button' class='btn btn-primary' style='margin-bottom:15px;margin-top: -20px; margin-left: -8px;' value='Submit' name='submit' id='agent_uninstall'/></div>");
                  otable = document.getElementById('divagentrelease');
                  var data1 = [];
                  for (var i = 0; i < data.userdata.length; i++) {
                      data1.push([data.userdata[i].device_id, data.userdata[i].systemname, data.userdata[i].ip, data.userdata[i].last_poll_time, data.userdata[i].ou_longname]);
                  }
                  var otable = $("#divagentrelease").DataTable({
                      data: data1, scrollX: !0, searching: !1, dom: "<'top'lB>rt<'bottom'ip><'clear'>", buttons: ["colvis"],
                      'columnDefs': [{ 'targets': 0, 'checkboxes': { 'selectRow': true } }, { orderable: false, targets: 1 }], 'select': { 'style': 'multi' }, 'order': [[2, 'asc']],
                      columns: [{ title: "", width: '10px' }, { title: "System Name", width: '90px' }, { title: "IP Address", width: '50px' }, { title: "Last Poll Time", width: '60px' }, { title: "Branch/ Unit", width: '170px' }]
                  });
                  $(".table").css({ "width": "100%" });
                  $(".dataTables_scrollHeadInner ").css({ "width": "100%" });
                  $('#agent_uninstall').on('click', function (e) {
                      var form = this;
                      var rows_selected = otable.column(0).checkboxes.selected();
                      $.each(rows_selected, function (index) {
                          deviceidall = "";
                          for (var i = 0; i < rows_selected.length; i++) {
                              deviceidall += "," + rows_selected[i];
                          }
                          AgentUninstall(deviceidall)
                          return false;
                      });
                  });
              }

          }).done(function () {
              setTimeout(function () {
                  $("#overlay").fadeOut(300);
              }, 500);
          });
      }
  }
    var agentdelete = '';
    $('input[type=radio][name=agentremove]').change(function () {
        agentdelete = this.value;
    });
    var deviceidall = "";
        function AgentUninstall(deviceidall) {
        var agentdelete = $('input[name=agentremove]:checked').val();
        $.ajax({
            type: "POST",
            url: '@Url.Content("~/csat_settings_page/deleteAgentReleaseLicence?agentdelete=")' + agentdelete + '&deviceidlist=' + deviceidall,
            success: function (result) {
                alert(result);
            }
        });
    }

</script>
<script>
    //checkbox input hide & show
    $('#inputsystemname').hide();
    $('#add_system_chk').on('click', function () {
        if ($(this).is(':checked')) {
            $('#selectsys').hide();
            $('#inputsystemname').show();
        }
        else {
            $('#selectsys').show();
            $('#inputsystemname').hide();
            document.getElementById('add_systemname').value = "";
        }
    });
</script>
